[submodule "simula-openvr"]
	path = simula-openvr
	url = https://github.com/georgewsinger/simula-openvr.git
[submodule "vulkan"]
	path = vulkan
	url = https://github.com/expipiplus1/vulkan
[submodule "OpenGLRaw"]
	path = OpenGLRaw
	url = https://github.com/SimulaVR/OpenGLRaw
