[submodule "simula-openvr"]
	path = simula-openvr
	url = git@github.com:georgewsinger/simula-openvr.git
[submodule "vulkan"]
	path = vulkan
	url = https://github.com/KaneTW/vulkan
[submodule "OpenGLRaw"]
	path = OpenGLRaw
	url = https://github.com/SimulaVR/OpenGLRaw
