general {
        output_format = "simula"
        colors = true
        interval = 1
}

order += "disk /"
order += "wireless wlan0"
order += "ethernet enp5s0" # eth0
order += "battery 0"
order += "memory"
order += "tztime local"

wireless wlan0 {
        format_up = "W: (%quality at %essid, %bitrate) %ip"
        format_down = "W: down"
}

ethernet eth0 {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

ethernet enp5s0 {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

battery 0 {
        format = "B: %status %percentage %remaining %emptytime"
        format_down = "B: No battery"
        status_chr = "B: ⚡ CHR"
        status_bat = "B: 🔋 BAT"
        status_unk = "B: ? UNK"
        status_full = "B: ☻ FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

tztime local {
        format = "T: %Y-%m-%d %H:%M:%S"
        hide_if_equals_localtime = false
}

cpu_temperature 0 {
        format = "Temp: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/temp1_input"
}

memory {
        format = "M: %used / %total"
        # threshold_degraded = "10%"
        format_degraded = "MEMORY: %free"
}

disk "/" {
        format = "D: %avail free"
}

read_file uptime {
        path = "/proc/uptime"
}
